@model Core.ViewModels.HomeVm
@{
	ViewData["Title"] = "Home";
}
<header class="text-center text-white masthead bg-secondary" style="background:no-repeat center center;background-size:cover;">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<h1 class="mb-5">Doubt whether the your ingredients in the recipe is vegan or not?<br>Check it here!</h1>
			</div>
			<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
				<form asp-action="Search" method="post">
					<div class="form-row">
						<div class="col-12 col-md-9 mb-2 mb-md-0">
							<input asp-for="@Model.Ingredient.Name" class="form-control form-control-lg" type="text" id="ingInput" placeholder="Enter Ingredient">
						</div>
						<div class="col-12 col-md-3">
							<button class="btn btn-primary btn-block btn-lg" id="ingSearch" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>
<section class="text-center bg-light ">
	<div class="container">
		<h2 class="mb-5" style="color: #6610f2">
			What is being a Vegan?
		</h2>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				@Html.Raw(Model.Home.BeingVegan)
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</section>
<section class="text-center bg-light ">
	<div class="container">
		<h2 class="mb-5" style="color: #6610f2">
			Why should we turn into a Vegan?
		</h2>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				@Html.Raw(Model.Home.WhyVegan)
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</section>
<section class="text-center bg-light ">
	<div class="container">
		<h2 class="mb-5" style="color: #6610f2">
			What are the arguments against veganism and how are they wrong?
		</h2>
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				@Html.Raw(Model.Home.Arguments)
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>
</section>
<section class="text-center bg-light testimonials">
	<div class="container">
		<h2 class="mb-5" style="color: #6610f2">Vegans round the globe say :</h2>
		<div class="row">
			@foreach (var item in Model.Testimonials)
			{
				<div class="col-lg-4">
					<div class="mx-auto testimonial-item mb-5 mb-lg-0">
						<img class="rounded-circle img-fluid mb-3" src="@item.ImgSrc" asp-append-version="true" alt="Image of The Person" />
						<h5>@item.Name</h5>
						<p class="font-weight-light mb-0">"@item.Quote"</p>
					</div>
				</div>
			}
		</div>
	</div>
</section>